<script type="text/javascript">
    RED.nodes.registerType('transform-boolean-value',{
        category: 'transformation',
        color: '#00cc00',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "function.png",
        label: function() {
            return this.name||"transform payload value to boolean";
        }
    });

    RED.nodes.registerType('transform-number-value',{
        category: 'transformation',
        color: '#00cc00',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "function.png",
        label: function() {
            return this.name||"transform payload value to number";
        }
    });
</script>

<script type="text/x-red" data-template-name="TransformBooleanValueToPayload">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>
<script type="text/x-red" data-help-name="TransformBooleanValueToPayload">
    <p>
    A simple transformation of a message payload.<br/>
    Converts {'payload': {'value': 1}} to {'payload': true}.
    </p>
    <p>
    Uses the 'Boolean' Javascript function to create a boolean value
    and therefore accepts any value the 'Boolean' function accepts.
    </p>
    <p>
    Applied function: msg.payload = Boolean(msg.payload.value);
    </p>
    <p>
    This can also be implemented using a Function node, but this hopefully makes
    it easier to apply this function many times without having to maintain the
    Function script of all Function nodes.
    </p>
    <p>
    Can be used to converts the output of a KNX Device node for
    a switch (type:DPT1) into a simple boolean payload which can be used to
    feedback the status into a UI switch node. This way the UI switch can
    always show the current status, even when the KNX switch is used elsewhere.
    </p>
</script>

<script type="text/x-red" data-template-name="TransformNumberValueToPayload">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>
<script type="text/x-red" data-help-name="TransformNumberValueToPayload">
    <p>
    A simple transformation of a message payload.<br/>
    Converts {'payload': {'value': 100}} to {'payload': 100}.
    </p>
    <p>
    Applied function: msg.payload = msg.payload.value;
    </p>
    <p>
    This can also be implemented using a Function node, but this hopefully makes
    it easier to apply this function many times without having to maintain the
    Function script of all Function nodes.
    </p>
    <p>
    A function node which converts the output of a KNX Device node for
    a dimmer (type:DPT5) into a simple number payload which can be used to
    feedback the status into a UI slider node. This way the UI switch can
    always show the current status, even when the KNX switch is used elsewhere.
    </p>
</script>
