<script type="text/javascript">
    RED.nodes.registerType('filter-valid-slider-values',{
        category: 'filter',
        color: '#00cc00',
        defaults: {
            name: {value:""}
        },
        inputs:1,
        outputs:1,
        icon: "function.png",
        label: function() {
            return this.name||"filter valid slider values";
        }
    });

    RED.nodes.registerType('filter-function',{
        category: 'filter',
        color: '#00cc00',
        defaults: {
            name: {value:""},
            filterFunction: {value:"return true;"}
        },
        inputs:1,
        outputs:1,
        icon: "function.png",
        label: function() {
            return this.name||"generic filter";
        }
    });
</script>

<script type="text/x-red" data-template-name="FilterValidSliderValues">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>
<script type="text/x-red" data-help-name="FilterValidSliderValues">
    <p>Filter out messages with invalid slider values.</p>
</script>

<script type="text/x-red" data-template-name="FilterFunction">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-filterFunction"><i class="icon-tag"></i> Filter function</label>
        <input type="text" id="node-input-filterFunction" placeholder="return true;">
    </div>
</script>
<script type="text/x-red" data-help-name="FilterFunction">
    <p>Filter messages. Experimental!!</p>
</script>
